html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #f8f8f8;
}

* {
    outline:none;
}

input {
    width: 100%;
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-size: inherit;
    font-weight: inherit;
    outline: none;
}

/* Toolbar area */

md-toolbar h1 {
    margin: auto;
    font-size: 1.250em;
    font-weight: 400;
}

.editable-content {

    background-color: white;
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
    width: 900px;
    box-sizing: content-box;
    padding-bottom: 60px;
    h1,p {
        padding: 0px;
        border: 2px dotted white;
    }
}

.editable-content.editable-content--enable {
    h1,p {
        padding: 0px;
        border: 2px dotted lightblue;
    }
}

.edit-control {
    text-align: center;
}
